#app{
  border:2px solid red;
}
<<<<<<< HEAD
body {
  background: #262626;
=======

html { 
    background: url(../images/music.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
$body-bg: transparent; 
body {
 
 
>>>>>>> 1d627f1949be94cb012416a24d80770233ef1d97
}

div.container {
  max-width: 900px;
  margin: 0 auto;

}
.player{
  background: #262626;
<<<<<<< HEAD
}
=======
}

>>>>>>> 1d627f1949be94cb012416a24d80770233ef1d97
