.head, .head2 {
  color: #fff;
  background-color: #103D5D;
  padding: 15px;
  border:3px solid white;
  position: absolute;
  right:10px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

.playing{
  position: absolute;
  top:10px;
  font-size: 20px;
  font-weight: bold;
  color:white;


}

.anim{
  
    width: 80%;
    border:2px solid white;
    height: 100px;
    background-color: transparent; 
      opacity:50%;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
     75%  {background-color: pink;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
     75%  {background-color: pink;}
    100% {background-color: green;}

}

.welcome{
  font-size: 86px;
  color:white;
  text-align: center;
  text-shadow:2px 4px blue;
  position: absolute;
  top:350px;
  left:160px;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

.head i {
  vertical-align: middle;
  margin-left: 12px;
}

.container .container2 {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper .wrapper2 {
  max-width: 1100px;
  margin: 0 auto;
}

.add-team {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}


.display-team {
  width: 40%;
  margin-left: 50px;
  position: absolute;
  top:200px;
  right:10px;
  text-align: center
}

.lower{
  position:absolute;
  top:40px;
  left:65px;
  font-weight: bold;
  font-size: 16px;
}



.display-team button{
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-team form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}